<footer class="bg-dark py-5 mt-5">
    <div class="container text-light text-center">
      <p class="display-5 mb-3">Text</p>
      <a class="link-offset-2 link-underline link-underline-opacity-0" href="#"><i class="bi bi-facebook fs-2 me-3"></i></a>
      <a class="link-offset-2 link-underline link-underline-opacity-0" href="#"><i class="bi bi-linkedin fs-2 me-3"></i></a>
      <a class="link-offset-2 link-underline link-underline-opacity-0" href="#"><i class="bi bi-instagram fs-2 me-3"></i></a>
      <a class="link-offset-2 link-underline link-underline-opacity-0" href="#"><i class="bi bi-pinterest fs-2 me-3"></i></a>
      <br>
      <br>
      <small class="text-white-50">&copy; 2024 Copyright by CodeFactory. All rights reserved</small>
    </div>
  </footer>