
<app-hero-small></app-hero-small>
<div class="container-fluid app-wrapper">
    <h2 class="animated-text animated-scale">Contact</h2>
    <br>
    <br>
    <form action="/url" method="GET" id="form" class="animated-scale">
        <p>Your Name</p>
        <input type="text" name="name" id="name" placeholder="enter your name here" class="animated-text">
        <br><br>
        <p>Your E-Mail</p>
        <input type="email" name="email" id="email" placeholder="enter your e-mail adress here" class="animated-text">
        <br><br>
        <p>Your Message</p>
        <textarea name="Message" id="Message" placeholder="enter your message here" class="animated-text"></textarea>
        <br>
        <input type="button" value="Submit" class="animated-scale">
    </form>
</div>


