h2 {
  text-transform: uppercase;
  margin-bottom: 2rem;
  /* color: var(--tertiary-color-light) */
}

.card {
  background: #ffcc801c;
  border-radius: 0;
}

.card:hover {
  background-color: #ffcc80a8;
}

.card1 {
  position: relative;
  text-align: center;
  display: inline-block;
  width: auto; 
  height: 300px;
  margin: 1rem; 
  overflow: hidden; 
}

.card1 .image {
  display: block;
  width: 100%; 
  height: 100%;
  background-size: cover; 
  background-repeat: no-repeat; 
  background-position: center;
}

.card1 .overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0; 
  transition: 0.5s ease;
  font-size: 1.5rem;
  padding: 0.5rem; 
  font-weight: 400;
  font-style: normal;
  text-align: center; 
  color: var(--tertiary-color-light);
  background-color: #ffb13b8a;
}

.card1:hover .overlay {
  opacity: 1;
}

.app-wrapper {
  padding: 5rem 8rem;
}

  /* Mobile phone */
  @media screen and (max-width: 480px)
  {
   .card1 .image {
     width: 20rem;
     height: 20rem; 
   }
   .app-wrapper {
    padding: 5rem;
  }
  

  }
 
  /* Tablet */
 @media screen and (max-width: 1200px) and (min-width: 481px)
 {
   .card1 .image {
     width: 25rem;
     height: 23rem; 
   }

   .app-wrapper {
    padding: 2rem;
  }
  
 }
   
 