<div class="bg-dark">
    <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 p-2">
        <div *ngFor="let item of array | keyvalue">
            <div class="card mx-auto"> 
                <div class="card1 p-1">
                    <img [src]="item.value" class="mx-auto mt-3 image" alt="this is an image">
                    <p class="overlay text-uppercase text-center fw-bold">{{item.key}}</p>
                    <div class="d-flex justify-content-around">
                        <a routerLink="/details/{{item.key}}" class="btn btn-lg btn-outline-secondary">Details</a>
                    </div>
                </div>      
            </div>
        </div>
    </div>
</div>