.card {
    width: 25rem;
    height: auto;
}

.card-header {
    font-size: 1.5rem;
    background-color: #B0A6A5;
    font-weight: bold;
    color: whitesmoke;
}

.card-img {
    width: 15rem;
    height: 15rem;
    background-color: rgb(232, 226, 226);
}

.card-title {
    color: #058240;
}

.btnDetail {
    background-color: #E58E00; 
    color: whitesmoke;
} 

.btnDetail > a {
    text-decoration: none;
    color: whitesmoke;
}