<p>bio works!</p>

<div class="row">
    <div class="col-4">
        <img src="images/about/about01.jpg" style="height: 85vh;" alt="portrait">
    </div>
    <div class="col-2">
        <nav id="bio-navbar" class="h-100 flex-column align-items-stretch pe-4 border-end">
            <nav class="nav nav-pills flex-column">
                <a class="nav-link" href="#item-1">Introduction</a>
                <a class="nav-link" href="#item-2">Skills</a>
                <a class="nav-link" href="#item-3">Background</a>
                <nav class="nav nav-pills flex-column">
                    <a class="nav-link ms-3 my-1" href="#item-3-1">Professional Background</a>
                    <a class="nav-link ms-3 my-1" href="#item-3-2">Educational Background</a>
                </nav>
            </nav>
        </nav>
    </div>
  
    <div class="col-6" >
        <div 
            data-bs-spy="scroll" 
            data-bs-target="#bio-navbar" 
            data-bs-smooth-scroll="true" 
            class="bio-scrollspy" 
            tabindex="0"
            style="overflow-y: scroll; height: 85vh;">
            <div id="item-1">
                <h4>Introduction</h4>
                <p>
                    Hi, my name is Luca DiMaggio. Lorem ipsum dolor, sit amet consectetur adipisicing elit. Excepturi quo accusantium quisquam! Officiis quidem ipsum, odit omnis similique maxime. Voluptatem quas optio aut maxime dolor? Lorem ipsum dolor sit amet consectetur, adipisicing elit. Laudantium veritatis velit, esse consequatur odit eligendi quidem? Officiis, quis quae illum nulla nihil consequuntur veritatis ullam!n
                </p>
            </div>
            
            <div id="item-2">
                <h4>Skills</h4>
                <ul>
                    <li>Analog Camera</li>
                    <li>Digital Camera</li>
                    <li>Polaroid</li>
                    <li>Leica</li>
                    <li>Plate Camera</li>
                </ul>
            </div>
            <div id="item-3">
                <h4>Background</h4>
            </div>
            <div id="item-3-1">
                <h5>Professional Background</h5>
                <ul>
                    <li>since 2016 Vienna</li>
                    <li>5 years London</li>
                    <li>2 years Triest</li>
                    <li>3 years Rome</li>
                </ul>
            </div>
            <div id="item-3-2">
                <h5>Educational Background</h5>
                <ul>
                    <li>5 years College of Arts Rome</li>
                    <li>3 years apprenticeship with August Trulio in Rome</li>
                </ul>
            </div>
        </div>
    </div>
  </div>



