

<div class="swiper mySwiper">
  <div class="swiper-wrapper">
    <div class="swiper-slide">
      <img src="images/landscape/landscape01.jpg" alt="Image 1" />
    </div>
    <div class="swiper-slide">
      <img src="images/landscape/landscape02.jpg" alt="Image 2" />
    </div>
    <div class="swiper-slide">
      <img src="images/wedding/wedding01.jpg" alt="Image 2" />
    </div>
    <div class="swiper-slide">
      <img src="images/wedding/wedding02.jpg" alt="Image 2" />
    </div>
    <div class="swiper-slide">
      <img src="images/sports/sports01.jpg" alt="Image 2" />
    </div>
    <div class="swiper-slide">
      <img src="images/sports/sports02.jpg" alt="Image 2" />
    </div>
    <div class="swiper-slide">
      <img src="images/portrait/portrait01.jpg" alt="Image 2" />
    </div>
    <div class="swiper-slide">
      <img src="images/portrait/portrait02.jpg" alt="Image 2" />
    </div>
    
  </div>
  <div class="swiper-pagination"></div>
</div>
