<div class="hero-container">
    <div class="hero-bg"></div>
   
    <div class="hero-text">
      <h1>Photpgraphers Name</h1>
      <p>here could be a short text</p>
    </div>
  </div>

  <div class="background">
    <h1>title title title</h1>
    <p>text text text text</p>
    <p>text text text text</p>
    <p>text text text text</p>
    <p>text text text text</p>
    <p>text text text text</p>
    <p>text text text text</p>
    <p>text text text text</p>
    <p>text text text text</p>
    <p>text text text text</p>
    <p>text text text text</p>
    <p>text text text text</p>
    <p>text text text text</p>
    <p>text text text text</p>
    
  </div>

  <div class="navbar">
    <p>text</p>
  </div>