

<section class="categories">
  <!-- Pictures of Categories -->
  <h5 class="animated-text animated-scale">Our Categories</h5>
  <div class="category-grid">
    <a href="#"><img src="images/home/home01.jpg" alt="Wedding Photography" class="animated-scale"></a>
    <a href="#"><img src="images/home/home02.jpg" alt="Event Photography" class="animated-scale"></a>
    <a href="#"><img src="images/home/home03.jpg" alt="Portrait Photography" class="animated-scale"></a>
    <a href="#"><img src="images/home/home04.jpg" alt="Nature Photography" class="animated-scale"></a>
    <a href="#"><img src="images/home/home05.jpg" alt="Nature Photography" class="animated-scale"></a>
  </div>
</section>


<!-- Adding more content sections for better scroll effect -->
<section class="additional-section">
  <h5 class="animated-text animated-scale">Our Mission</h5>
  <p class="animated-text animated-scale">
    My mission is to capture the essence of every moment and create lasting
    memories through artistic photography. Whether it's a wedding, a portrait
    session, or a special event, I aim to deliver images that speak to the
    heart.
  </p>
</section>

<section class="additional-section">
  <h5 class="animated-text animated-scale">Our Vision</h5>
  <p class="animated-text animated-scale">
    I believe in the power of storytelling through photography. Every picture is
    a unique narrative, waiting to unfold. With years of experience and a
    passion for creativity, I strive to bring out the best in every shot.
  </p>
</section>


<!-- Testimonials Section -->

<section class="testimonials">
  <app-testimonials></app-testimonials>
</section>