<app-hero-small></app-hero-small>
<div class="container-fluid text-center">
    <div class="row">
      <div class="col-md-12">
        <div class="carousel-container">
            @for(item of array; track $index){ 
            <div class="carousel-slide" >
             <div class="carousel-item" >
              <div class="pic">
                <h3 class="description text-uppercase">{{item.categoryName}}</h3>
                <img [src]="item.img" alt="this is an image" class="img-responsive">
               </div>         
             </div>
            </div>
        }
          <button class="prev-btn" (click)="prevSlide()">❮</button>
          <button class="next-btn" (click)="nextSlide()">❯</button>
          
        </div>
      </div>
    </div>
    <div class="text-center">
        <a routerLink="/portfolio" class="btn btn-lg btn-outline-light port-btn">Portfolio</a>
    </div>   
  </div>
  




